.header {
  position: relative;
  width: 100vw; /* Full width */
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

.header .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.header-content {
  position: absolute;
  z-index: 2;
  text-align: center;
  color: white;
}

.header-title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.header-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}